@charset "UTF-8";

/* Обнуляю все отступы */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

/* Обнуляю все списки */
ul {
	list-style-type: none;
}

/* сбрасываю стили у ссылок */
a {
	color: inherit;
	text-decoration: none;
}

h1 {
	text-align: center;
	font-size: 55px;
	font-weight: 500;
	color: #13ddf8;
	margin-bottom: 25px;
}
h2 {
	font-size: 40px;
	font-weight: 400;
	color: #9bbeff;
	margin-bottom: 10px;
}

/* Стили телу страницы */
body {
	height: 100vh;
	width: 100%;
	line-height: 1.3;
	font-size: 23px;
	color: #fff;
	background: url('../img/galaxy_stars.jpg') 0 0 / cover fixed no-repeat;
}
.container{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	margin: 0px auto;
}

/* общие стили */
.container-block {
	max-width: 1300px;
	margin: 0px auto;
	padding: 30px 15px;
	background-color: rgba(0, 0, 0, 0.7);
}
.page{
	flex: 1 1 auto;
}
.text-all {
	margin-bottom: 40px;
}
.text-all-end{
	margin-bottom: 10px;
}
.gallery-all{
	max-width: 1000px;
	margin: 0px auto;
	text-align: center;
	}
.image-all{
	display: inline-block;
	width: 300px;
	height: 200px;
	padding: 5px;
	@media (max-width: 340px) {
		width: 250px;
	height: 170px;
	}
}
.image-all img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border:3px solid rgba(0, 110, 255, 0.5);
	border-radius: 10px;
}


/* шапка */
.header{
padding: 10px 0px;
font-size: 20px;
}
.container-header {
	padding : 10px 20px;
	max-width: 600px;
	border-radius:20px;
	background-color: rgba(0, 102, 255, 0.24);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	margin: 0px auto;
}
.logo-header{
width: 60px;
height: 60px;
}

.container-header ul {
	justify-content: center;
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}
a{
	color: #ffffff;
}
/* меняется стиль при наведении на ссылку <a></a> */
a:hover {
	color: #f0410b;
}

/* Земля */
.earth {
	padding :50px 0px 80px 0px;
}
.info-earth{
	margin-bottom: 60px;
}
.info-earth ol {
	font-style: italic;
	text-transform: uppercase;
	padding-left: 25px;
	color: #c8f9ff;
}


/* Марс */
.mars {
	padding : 50px 0px 80px 0px;
}
.info-mars {
	margin-bottom: 70px;
}
.image-mars-first{
	max-width: 500px;
	max-height: 300px;
	margin: 0px auto 20px;
}
.image-mars-first img {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	object-position: center;
	border-radius: 10px;
}
.text-mars{
text-align: center;
max-width: 1000px;
margin: 0px auto;
}
.info-mars h2 {
	text-align: center;
	margin-bottom: 20px;
}
.info-mars .text-all {
	margin-bottom: 0;
}
.image-text-mars{
	display: flex;
	gap: 30px;
	@media (max-width: 1000px) {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.image-mars {
	flex: 0 0 300px;
	height: 250px;
	@media (max-width: 1000px) {
		flex: 0 1 800px;
	}
}
.image-mars img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 10px;
}

/* Сатурн */
.saturn {
	padding :50px 0px 80px 0px;
}
.saturn .gallery-all {
	margin-bottom: 30px;
}

/* Плутон */

.pluton {
	padding : 50px 0px 80px 0px;
}

.info-pluton {
	margin-bottom: 70px;
}
.info-pluton-end{
	margin-bottom: 0;
}
.image-pluton-first {
	max-width: 700px;
	max-height: 400px;
	margin: 0px auto 10px;
}
.image-pluton-first img {
	width: 100%;
	max-height: 400px;
	object-fit: cover;
	object-position: center;
	border-radius: 10px;
}
.text-pluton {
	font-size: 25px;
	text-align: center;
	margin-bottom: 50px;
}
.image-pluton {
	max-width: 100%;
	max-height: 600px;
	margin-bottom: 20px;
}
.image-pluton img{
	width: 100%;
	max-height: 600px;
	object-fit: cover;
	object-position: center;
	border-radius: 10px;
}
.pluton .text-all {
	margin: 0;
}





/* подвал */
.footer {
	padding: 30px 0px;
	background-color: rgba(39, 39, 39, 0.882);
}
.container-footer {
	max-width: 800px;
	padding : 0px 15px;
	margin: 0px auto;
}
.row-footer{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 20px;
}
.email-footer {
	font-size: 20px;
	color: #006eff;
}
.top-footer {
	display: inline-block;
	text-align: right;
}